@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.accordion {
  width: 100%;
  max-width: 600px;
}

.item {
  border: 1px solid #ccc; 
  margin-bottom: 10px;
}

.title, .content {
  text-align: center;
  padding: 10px; 
}

.title {
  background-color: #f9f9f9; 
  cursor: pointer; 
}

.content {
  background-color: #fff; 
}

